<!--================ admin header Area =================-->

<%- include('../partials/admin/adminheader')%>
    <!--================ end admin header Area =================-->
    <!--================ admin nav Area =================-->

    <%- include('../partials/admin/adminnav')%>

        <!--================ end admin nav Area =================-->
        <!--================ admin aside Area =================-->

        <%- include('../partials/admin/adminaside')%>

            <!--================ end admin aside Area =================-->
            <main id="main" class="main">

                <div class="pagetitle">
                    <div class="row">
                        <div class="col-10">
                            <h1>Manage Portfolio</h1>
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active">Manage Portfolio</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-2">
                            <a type="button" class="btn btn-success " href="/admin/createportfolio">Add New</a>
                        </div>
                    </div><!-- End Page Title -->

                    <section class="section dashboard">
                        <div class="row">
                            <!-- ============================== logic ======================== -->
                            <%if (locals.portfolios ) { %>

                                <div class="dataTable-top">

                                    <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                                            type="text">
                                    </div>
                                </div>
                                <!-- Table with stripped rows -->
                                <table class="table table-striped">
                                    <div class="mb-1">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Catagory</th>
                                                <th scope="col">Image</th>
                                                <th scope="col">Title</th>
                                                <th scope="col">Short Description</th>
                                                <th scope="col">Created At</th>
                                                <th scope="col">Last updated</th>
                                                <th scope="col">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% locals.portfolios.forEach((element,id)=> {%>
                                                <tr>
                                                    <th scope="row">
                                                        <%=id + 1%>
                                                    </th>
                                                    <td>
                                                        <%=locals.portfolios[id].catagory[0]%>
                                                    </td>
                                                    <td><img src=" <%=locals.portfolios[id].portfolioimage%>" alt="">
                                                    </td>
                                                    <td>
                                                        <%=locals.portfolios[id].portfolioTitle%>
                                                    </td>
                                                    <td>
                                                        <%=locals.portfolios[id].inputTextarea%>
                                                    </td>
                                                    <td>
                                                        <%= locals.portfolios[id].createdTime%>
                                                    </td>
                                                    <td>
                                                        <%=locals.portfolios[id].updatedAt%>
                                                    </td>
                                                    <td>
                                                        <a type="button" class="btn btn-outline-primary "
                                                            href="/admin/editportfolio">Edit</a>
                                                    </td>
                                                </tr>
                                                <% }) %>

                                        </tbody>
                                    </div>

                                </table>
                                <!-- End Table with stripped rows -->
                                <!-- Pagination with icons -->
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- End Pagination with icons -->
                                <% } %>
                                    <!-- ============================== logic ======================== -->
                                    <%if (locals.noportfolios ) { %>
                                        <div class="m-3">
                                            <h1>
                                                <%= locals.noportfolios %>
                                            </h1>
                                        </div>
                                        <% } %>

                        </div>
                    </section>

            </main><!-- End #main -->

            <!--================ admin footer Area =================-->

            <%- include('../partials/admin/adminfooter')%>
                <!--================ end admin footer Area =================-->