<%- include('../partials/home/header')%>
    <!--================nav Area =================-->
    <%- include('../partials/home/nav')%>
        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="home_left_img">
                                <img src="home/img/img01.png" style=" width: 90%;" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner_content">
                                <h5>This is me</h5>
                                <h2>Robiul h.</h2>
                                <p>You will begin to realise why this exercise is called the Dickens Pattern (with
                                    reference
                                    to the ghost showing Scrooge some different futures)</p>
                                <a class="banner_btn" href="#">Discover Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        <!--================skills Area =================-->
        <%- include('../partials/home/skills')%>
            <!--================end skills Area =================-->

            <!--================Feature Area =================-->
            <%- include('../partials/home/feature')%>

                <!--================End Feature Area =================-->
                <!--================ project Area =================-->
                <section class="projects_area p_120">
                    <%- include('../partials/home/project')%>
                        <div class="row">
                            <div class="home-view-button">
                                <a class="banner_btn" href="/portfolio">Veiw more</a>

                            </div>
                        </div>
                        </div>
                </section>

                <!--================End  project Area =================-->
                <!--================Latest Blog Area =================-->
                <section class="latest_blog_area p_120">
                    <%- include('../partials/home/homeblogs')%>
                        <div class="row">
                            <div class="home-view-button">
                                <a class="banner_btn" href="/blog">Veiw more</a>

                            </div>
                        </div>
                </section>

                <!--================End Latest Blog Area =================-->

                <%- include('../partials/home/footer')%>