<%- include('../partials/home/header')%>
    <!--================nav Area =================-->
    <%- include('../partials/home/nav')%>
        <!--================ Banner Area =================-->
        <%- include('../partials/home/commonbanner')%>
            <!--================End Banner Area =================-->
            <!--================ project Area =================-->
            <section class="projects_area p_120">
                <%- include('../partials/home/project')%>

            </section>
            <!--================End project Area =================-->

            <!--================ footer Area =================-->

            <%- include('../partials/home/footer')%>
                <!--================ end feature Area =================-->